<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TAIDII_SAP_CONSOLE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SBOServer" value="JAMIYAH"/>
    <add key="ServerUN" value="sa"/>
    <add key="ServerPW" value="B1Admin"/>
    <add key="ServerVersion" value="dst_MSSQL2014"/>
    <add key="SAPUsername" value="manager"/>
    <add key="SAPPassword" value="sapb1"/>
    <add key="AppStart" value="0"/>
    <add key="APIFormat" value="format=json"/>
    <add key="APILastTimeStamp" value="last_time_stamp="/>
    <add key="APILastDate" value=""/>
    <add key="ERRORPATH" value="C:\Users\sapintegration\Desktop\AXXIS FILES\Console Application Fetch to TAIDII API\Error Log"/>
    <!--<add key="SBOServer" value="RMPARAS27\MSSQL2K14"/>
    <add key="ServerUN" value="sa"/>
    <add key="ServerPW" value="p@ssw0rd"/>
    <add key="ServerVersion" value="dst_MSSQL2014"/>
    <add key="SAPUsername" value="manager"/>
    <add key="SAPPassword" value="1234"/>
    <add key="AppStart" value="0"/>
    <add key="APIFormat" value="format=json"/>
    <add key="APILastTimeStamp" value="last_time_stamp="/>
    <add key="APILastDate" value="2021-01-01 00:00:00"/>2019-06-20 00:00:00
    <add key="ERRORPATH" value="C:\Users\Ryan M. Paras\Desktop\Mindchamps\Error Paths"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="SAPConnString" connectionString="Data Source=RMPARAS27\MSSQL2K14; User Id=sa; Password=p@ssw0rd; Initial Catalog=Jamiyah_Live; Integrated Security=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
